<% #puts @items[0][:identifier].ext == 'js' %>
<%= xml_sitemap :items => @items.reject{
  |i|
  hide_ext = ['js', 'css', 'xml'] # Exclude these file extensions
  i[:is_hidden] || i.binary? || hide_ext.include?(i.identifier.ext)
} %>